
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@*
    <div class="container">
        <div class="row">
            <div class="col bg-info bi bi-basket3">
                TỔNG ĐƠN ĐẶT HÀNG LÀ : @Session["TongDH"]<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
            </div>
            <div class="col bg-info">
                SỐ LƯỢNG KHÁCH HÀNG ĐĂNG KÍ LÀ : @Session["KhachHang"]<i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </div>
            <div class="col bg-warning">
                TỔNG DOANH THU LÀ :@Session["TongDT"] <i class="mdi mdi-chart-line mdi-24px float-right"></i>
            </div>

        </div>
    </div>
*@
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span>Trang Chủ Quản Trị
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                      
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                      
                        <h4 class="font-weight-normal mb-3">
                            TỔNG ĐƠN ĐẶT HÀNG LÀ : @Session["TongDH"] <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                        </h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                       
                        <h4 class="font-weight-normal mb-3">
                            SỐ LƯỢNG KHÁCH HÀNG ĐĂNG KÍ LÀ : @Session["KhachHang"] <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                        </h4>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                    <div class="card-body">
                       
                        <h4 class="font-weight-normal mb-3">
                            TỔNG DOANH THU LÀ :@Session["TongDT"]<i class="mdi mdi-diamond mdi-24px float-right"></i>
                        </h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>