@model ShopBanHang.Models.DanhMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết Danh Mục</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
         Mã Danh Mục
        </dt>

        <dd>
          Tên Danh Mục
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maDanhMuc }) |
    @Html.ActionLink("Trở về", "Index")
</p>
