@model ShopBanHang.Models.NX

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết Nhà Sản Xuất</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Tên Nhà Sản Xuất
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNSX)
        </dd>

        <dt>
           Hình Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.maNhaSanXuat }) |
    @Html.ActionLink("Trở về", "Index")
</p>
